/* ==========================================================================
   Variables
   ========================================================================== */

// Font Face
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Bitter:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
// Structure
$pageWidth: 1000px;
// Text Selection
$selectionColor: orange;
// Colors
$red: red;
$blue: blue;
$baseColor: #295135;
// Fonts
$baseFont: 'Open Sans',
sans-serif;
$hFonts: 'Bitter',
serif;
$secondaryFont: 'Ubuntu',
sans-serif;